body{
    margin:0;
}

.target{
    /*height: 100px;*/
    background: chartreuse;
    width: 600px;
    height: 200px;
    overflow: hidden;
    box-sizing: border-box;
/*padding: 30px;*/
/*    padding: 10/px 20px;*/
/*    padding: 10px 20px 30px;*/
/*    padding: 10px 20px 30px 40px;*/
padding-left: 20px;
    border: 10px solid royalblue;
    /*border-radius: 50%;*/
/*border-radius: 100px;*/
border-top-left-radius: 100px;
    margin: 100px auto;
box-shadow: darkcyan 10px 10px 10px 10px;
    /*transition: 3s;*/
    transition: 300ms;
}
.target:hover{
    height: 400px;
}